force-app/main/default/flows/Deactivate_Users_Who_Have_Not_logged_in_Over_90_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_deactivation_email</name>
        <label>Send deactivation email</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Deactivate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Salesforce Account Has Been Deactivated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DeactivationEmailTextTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Warning_Email</name>
        <label>Send Warning Email</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>varEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Warning: Your Salesforce Account May Be Deactivated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WarningEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_User</name>
        <label>Add User and Manager Emails toCollection</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>varEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Manager_s_Email.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Warning_or_Deactivation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Treshold_exceeded</name>
        <label>Treshold exceeded?</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Not exceeded</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLastLoginFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WarningThresholdInDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceCreationFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WarningThresholdInDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Manager_s_Email</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Warning_or_Deactivation</name>
        <label>Warning or Deactivation</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Send_deactivation_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deactivation</defaultConnectorLabel>
        <rules>
            <name>Warning</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceLastLoginFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DeactivationThresholdInDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DaysSinceCreationFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>DeactivationThresholdInDaysFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Warning_Email</targetReference>
            </connector>
            <label>Warning</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DaysSinceCreationFormula</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.CreatedDate})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DaysSinceLastLoginFormula</name>
        <dataType>Number</dataType>
        <expression>Today()-DATEVALUE({!$Record.LastLoginDate})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DeactivationThresholdInDaysFormula</name>
        <dataType>Number</dataType>
        <expression>{!$CustomMetadata.CustomMetadataType__mdt.DeactivationThresholdInDays.Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WarningThresholdInDaysFormula</name>
        <dataType>Number</dataType>
        <expression>{!$CustomMetadata.CustomMetadataType__mdt.WarningThresholdInDays.Number__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Deactivate Users Who Have Not logged in Over 90 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate Users Who Have Not logged in Over 90 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manager_s_Email</name>
        <label>Get Manager&apos;s Email</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Deactivate the user record</description>
        <name>Deactivate</name>
        <label>Deactivate</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Treshold_exceeded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qualifies_for_Auto_Deactivation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-09-02</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>DeactivationEmailTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.FirstName},&lt;/p&gt;&lt;p&gt;You have not logged into Salesforce in over 90 days. Per our plolicy, we have deactivated your account. If you believe this was done in error, please contact your System Administrator.&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WarningEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.FirstName},&lt;/p&gt;&lt;p&gt;We&apos;ve noticed that you have not logged in for a while, We have a policy that we will auto-deactivate any users who have not logged into Salesforce in over &lt;strong&gt;&lt;u&gt;90&lt;/u&gt;&lt;/strong&gt; days. &lt;/p&gt;&lt;p&gt;If you do not want your account to be deactivated, login now.&lt;/p&gt;&lt;p&gt;Thank you.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Holds email addresses</description>
        <name>varEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
