force-app/main/default/flows/Update_the_qualifies_for_auto_Deactivation_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>QualifiesForAutoDeactivationFieldFormula</name>
        <dataType>Boolean</dataType>
        <expression>If (ISBLANK({!varProfileCMDTRecord}), false, true)</expression>
    </formulas>
    <interviewLabel>Update the qualifies for auto Deactivation Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update the qualifies for auto Deactivation Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_the_CMDT_for_Profiles_for_auto_deactivation</name>
        <label>Look up the CMDT  for Profiles for auto-deactivation</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_Qualifies_doe_Auto_deactivation_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Profile_Name__c</elementReference>
            </value>
        </filters>
        <object>Profiles_for_Deactivation__mdt</object>
        <outputAssignments>
            <assignToReference>varProfileCMDTRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Qualifies_doe_Auto_deactivation_Field</name>
        <label>Update the Qualifies doe Auto-deactivation Field</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Qualifies_for_Auto_Deactivation__c</field>
            <value>
                <elementReference>QualifiesForAutoDeactivationFieldFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_up_the_CMDT_for_Profiles_for_auto_deactivation</targetReference>
        </connector>
        <filterFormula>ISNEW() ||
ISCHANGED( {!$Record.ProfileId} ) ||
( ISCHANGED( {!$Record.IsActive} ) &amp;&amp; {!$Record.IsActive} )</filterFormula>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varProfileCMDTRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
